# Import libraries and Read data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://bit.ly/3oCOgE8')

In [3]:
df

           date p1_sales  p2_sales
0      1/1/2020       39        47
1      1/2/2020      245       314
2      1/3/2020      174       215
3      1/4/2020       58       198
4      1/5/2020       66        77
..          ...      ...       ...
361  12/27/2020      519        23
362  12/28/2020      456        55
363  12/29/2020       55        47
364  12/30/2020       72        27
365  12/31/2020      104        31

[366 rows x 3 columns]

![separator2](https://i.imgur.com/4gX5WFr.png)

# Data types

In [6]:
df.dtypes

date        object
p1_sales    object
p2_sales     int64
dtype: object

In [7]:
df['date'] = pd.to_datetime(df['date'])

In [8]:
df.dtypes

date        datetime64[ns]
p1_sales            object
p2_sales             int64
dtype: object

In [12]:
df
# now date column is formated
# Y-M-D

          date p1_sales  p2_sales
0   2020-01-01       39        47
1   2020-01-02      245       314
2   2020-01-03      174       215
3   2020-01-04       58       198
4   2020-01-05       66        77
..         ...      ...       ...
361 2020-12-27      519        23
362 2020-12-28      456        55
363 2020-12-29       55        47
364 2020-12-30       72        27
365 2020-12-31      104        31

[366 rows x 3 columns]