# Import libraries and read data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

   Unnamed: 0    x1  x2    x4  x5  x6
0           0  10.0   1   7.0   3   2
1           1  20.0  12  12.0   4   5
2           2   NaN   5  12.0   3   6
3           3  40.0   1   3.0  44   0
4           4  50.0   2   7.0   3   1

In [4]:
df.dtypes

Unnamed: 0      int64
x1            float64
x2              int64
x4            float64
x5              int64
x6              int64
dtype: object

# Check for Nulls in rows

In [5]:
df.shape

(33, 6)

In [6]:
missing = df.isnull().any(axis=1)
missing.head()
# return bool for each column (True=row has null) (False=row does not have null)

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [7]:
num_of_rows_with_nan = missing.sum()
num_of_rows_with_nan

3

In [8]:
missing.mean() 
# It is a very small average so i can delete those rows

0.09090909090909091

In [9]:
newdf = df.dropna()

In [10]:
missing_up = newdf.isnull().any(axis=1)
missing_up.head()

0    False
1    False
3    False
4    False
5    False
dtype: bool

In [12]:
missing_up.mean()
# all rows clean and don't have missing data

0.0